{%- extends "base.html" %}
{% block scripts %}
    {{ super() }}
{% endblock %}
{% block page %}
    <h1>Your viewing addon {{ addon.name }}</h1>
    <p>
    Here you can find some information about this addon, and review the latest versions, download the archive file (if you prefer
    manual installation) and file bug reports.

    </p>
    <h3>Addon description</h3>
    <div class="panel panel-primary">
        <div class="panel panel-heading"><h1 class="panel-title">{{ addon.title }} <div class="small">by {{ addon.getAuthorName() }}</div> </h1></div>
        <div class="panel panel-body">
            {{ descr }}
        </div>
    </div>

    <h3>Addon versions</h3>
    <p>
    All published versions of this addon are listed here, together with a download link and a list of supported supertux
    versions. You can always install the latest version through the ingame level editor.
    {% for version in versions%}
        <div class="panel panel-success">
            <div class=" panel-heading">Version {{ version.int_version }}</div>

        <div class=" panel-body">
        This version was published under {{ version.getLicense() }} by {{ version.getAuthor() }}. <br />
            Changes made (and entered:) <br />
            {{ version.changes }}
        </div>
        <div class="panel-footer">
            <div class="btn btn-success"><i class="fa fa-download"></i> Download </div> </div>

        </div>
    {% endfor %}
    </p>
{% endblock %}